.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;

}

.header a:hover {
    color: black;
    border: 2px solid violet;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;

}